<module>
	<rawname>iaxsettings</rawname>
	<name>IAX Settings</name>
	<version>2.6.0beta1.0</version>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<iaxsettings>IAX Settings</iaxsettings>
	</menuitems>
	<description>
		Use to configure Various Asterisk IAX Settings in the General section of iax.conf. The module assumes Asterisk version 1.4 or higher. Some settings may not exist in Asterisk 1.2 and will be ignored by Asterisk.
	</description>
	<publisher>Bandwidth.com</publisher>
	<license>AGPLv3</license>
	<changelog>
		*2.6.0beta1.0* lots of tweaks, fixed install.php error
	</changelog>
	<location>release/2.6/iaxsettings-2.6.0beta1.0.tgz</location>
	<md5sum>eb89766d3e272cc74f8dba2b59f444af</md5sum>
</module>
