<module>
	<rawname>iaxsettings</rawname>
	<repo>standard</repo>
	<name>Asterisk IAX Settings</name>
	<version>13.0.1alpha1</version>
	<publisher>Schmooze Com Inc</publisher>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<license>AGPLv3</license>
	<category>Settings</category>
	<menuitems>
		<iaxsettings>Asterisk IAX Settings</iaxsettings>
	</menuitems>
	<description>Use to configure Various Asterisk IAX Settings in the General section of iax.conf.</description>
	<changelog>
		*13.0.1alpha1* Visual Changes
		*2.11.0.3* Include license file
		*2.11.0.1* Updated CSS to look decent
		*2.11.0.0* bump version
		*2.10.0.3* #5867
		*2.10.0.2* #5478 
		*2.10.0.1* new codecs, misc bugs
		*2.10.0.0* new version changes
		*2.9.0.4* #5010
		*2.9.0.3* #5000
		*2.9.0.2* #3976
		*2.9.0.1* removed duplicate functions
		*2.9.0.0* #4681
	</changelog>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/2.11/iaxsettings-2.11.0.0.tgz</location>
	<md5sum>cb70c12fe397182a6a27dd785c90e0c4</md5sum>
</module>
